[Unit]
Description=Moonboard LED Service
After=multi-user.target mosquitto.service

[Service]
WorkingDirectory=/home/pi/moonboard/led/
ExecStart=/usr/bin/python3 /home/pi/moonboard/led/moonboard_led_service.py 
Type=idle
User=root
StandardOutput=file:/var/log/moonboard_led_stdout.log
StandardError=file:/var/log/moonboard_led_stderr.log

[Install]
WantedBy=multi-user.target