[Unit]
Description=Install Phase 2
After=multi-user.target

[Service]
ExecStart=/home/pi/moonboard/install-phase2.sh
User=root
StandardOutput=file:/var/log/moonboard_install_stdout.log
StandardError=file:/var/log/moonboard_install_stderr.log

[Install]
WantedBy=multi-user.target

